<!DOCTYPE html>
<html>
    <head>
        <title>Vue 3 Basics</title>
        <style>
            .box {
                background-color: purple;
                height: 200px;
                width: 200px;
            }
            .box.two {
                background-color: red;
            }
            .box.three {
                background-color: blue;
            }
            [v-cloak] {
                display: none;
            }

            input {
                margin: 10px;
                display: block;
            }
        </style>
    </head>
    <body>
        <div id="app" v-cloak>
            <hr />
            <!-- components -->
            <div>
                <login-form />
            </div>
        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script>
            let app = Vue.createApp({
                data: function () {
                    return {
                        greeting: "hey test",
                        isVisible: false,
                        isVisible2: false,
                        isVisible3: false,
                    };
                },
                methods: {
                    toggleBox() {
                        this.isVisible3 = !this.isVisible3;
                    },
                    greet(greeting) {
                        console.log(greeting);
                        this.message = greeting;
                    },
                },
            });

            app.component("login-form", {
                template: `
                    <form @submit.prevent="handleSubmit">
                        <h1>{{title}}</h1>
                        <custom-input 
                            v-for="(input, i) in inputs"
                            :key="i"
                            v-model="input.value"
                            :label="input.label" 
                            :type="input.type"
                            />
                        <button>Log in </button>
                    </form>
                `,
                components: ["custom-input"], // register component
                data() {
                    return {
                        title: "Login form",
                        inputs: [
                            {
                                label: "Email",
                                value: "",
                                type: "email",
                            },
                            {
                                label: "Password",
                                value: "",
                                type: "password",
                            },
                        ],
                        emaiLabel: "Email",
                        passwordLabel: "password label",
                    };
                },
                methods: {
                    handleSubmit() {
                        console.log("handle submit");
                        console.log(this.inputs[0].value, this.inputs[1].value);
                    },
                },
            });

            app.component("custom-input", {
                template: `
                    <label>
                        {{label}}
                        <input :type="type" v-model="inputValue">
                    </label>
                `,
                props: ["label", "modelValue", "type"], //props received by parent component
                computed: {
                    inputValue: {
                        get() {
                            return this.modelValue;
                        },
                        set(value) {
                            console.log(value);
                            this.$emit("update:modelValue", value);
                        },
                    },

                    //data(){
                    //    return{
                    //        inputValue: ''
                    //    }
                },
            });

            app.mount("#app");
        </script>
    </body>
</html>
